.proctoru-ui-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .proctoru-ui-container:before, .proctoru-ui-container:after {
    content: ' ';
    display: table; }
  .proctoru-ui-container:after {
    clear: both; }
  @media (min-width: 544px) {
    .proctoru-ui-container {
      max-width: 570px; } }
  @media (min-width: 768px) {
    .proctoru-ui-container {
      max-width: 740px; } }
  @media (min-width: 992px) {
    .proctoru-ui-container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .proctoru-ui-container {
      max-width: 1170px; } }

.proctoru-ui-container-fluid {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .proctoru-ui-container-fluid:before, .proctoru-ui-container-fluid:after {
    content: ' ';
    display: table; }
  .proctoru-ui-container-fluid:after {
    clear: both; }

.proctoru-ui-row {
  margin-left: -15px;
  margin-right: -15px; }
  .proctoru-ui-row:before, .proctoru-ui-row:after {
    content: ' ';
    display: table; }
  .proctoru-ui-row:after {
    clear: both; }

.proctoru-ui-radio {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative; }
  .proctoru-ui-radio > label {
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 0;
    min-height: 22px;
    padding-left: 20px; }
  .proctoru-ui-radio input:disabled {
    cursor: not-allowed; }

.proctoru-ui-radio > label > input[type="radio"] {
  margin-left: -20px;
  margin-top: 4px;
  position: absolute; }

.proctoru-ui-radio + .proctoru-ui-radio {
  margin-top: -5px; }

.proctoru-ui-col-md-3,
.proctoru-ui-col-md-4,
.proctoru-ui-col-md-9,
.proctoru-ui-col-md-12 {
  box-sizing: border-box;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .proctoru-ui-col-md-3,
  .proctoru-ui-col-md-4,
  .proctoru-ui-col-md-9,
  .proctoru-ui-col-md-12 {
    float: left; }
  .proctoru-ui-col-md-3 {
    width: 25%; }
  .proctoru-ui-col-md-4 {
    width: 33.33333%; }
  .proctoru-ui-col-md-9 {
    width: 75%; }
  .proctoru-ui-col-md-12 {
    width: 100%; } }

/**
 * UI Panel module
 */
.proctoru-ui-panel {
  background-color: #FFF;
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
  padding: 15px; }

.proctoru-ui-panel:before,
.proctoru-ui-panel:after {
  content: ' ';
  display: table; }

.proctoru-ui-panel:after {
  clear: both; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .proctoru-ui-panel {
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.12), -1px 0px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12); } }

@supports (-ms-ime-align: auto) {
  .proctoru-ui-panel {
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.12), -1px 0px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12); } }

/**
 * UI Button
 */
.proctoru-ui-btn {
  background-color: #FFF;
  background-image: none;
  border: none;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0.03em;
  line-height: 18px;
  margin: 6px 0;
  overflow: hidden;
  padding: 0 26px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.proctoru-ui-btn:hover,
.proctoru-ui-btn:focus,
.proctoru-ui-btn:active {
  background-color: white;
  color: rgba(0, 0, 0, 0.87); }

.proctoru-ui-btn[disabled]:hover,
.proctoru-ui-btn[disabled]:focus,
.proctoru-ui-btn[disabled]:active {
  background-color: #FFF;
  color: rgba(0, 0, 0, 0.87); }

.proctoru-ui-btn.proctoru-ui-btn--flat {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87); }

.proctoru-ui-btn.proctoru-ui-btn--flat:hover,
.proctoru-ui-btn.proctoru-ui-btn--flat:focus,
.proctoru-ui-btn.proctoru-ui-btn--flat:active {
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.87); }

.proctoru-ui-btn.proctoru-ui-btn--flat[disabled]:hover,
.proctoru-ui-btn.proctoru-ui-btn--flat[disabled]:focus,
.proctoru-ui-btn.proctoru-ui-btn--flat[disabled]:active {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87); }

.proctoru-ui-btn:hover,
.proctoru-ui-btn:focus,
.proctoru-ui-btn:active {
  color: rgba(0, 0, 0, 0.87);
  outline: 0;
  text-decoration: none; }

.proctoru-ui-btn:hover,
.proctoru-ui-btn:focus {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .proctoru-ui-btn:hover,
  .proctoru-ui-btn:focus {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); } }

@supports (-ms-ime-align: auto) {
  .proctoru-ui-btn:hover,
  .proctoru-ui-btn:focus {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); } }

.proctoru-ui-btn:active:hover {
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.12), 1px 3px 4px rgba(0, 0, 0, 0.2); }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .proctoru-ui-btn:active:hover {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 4px rgba(0, 0, 0, 0.12), 1px 3px 4px rgba(0, 0, 0, 0.2); } }

@supports (-ms-ime-align: auto) {
  .proctoru-ui-btn:active:hover {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 4px rgba(0, 0, 0, 0.12), 1px 3px 4px rgba(0, 0, 0, 0.2); } }

.proctoru-ui-btn:disabled {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.60;
  pointer-events: none; }

.proctoru-ui-btn + .proctoru-ui-btn {
  margin-left: 8px; }

.proctoru-ui-btn--flat {
  background-color: transparent; }

.proctoru-ui-btn--flat:hover,
.proctoru-ui-btn--flat:focus,
.proctoru-ui-btn--flat:active,
.proctoru-ui-btn--flat:active:hover {
  background-color: #f2f2f2;
  box-shadow: none; }

.proctoru-ui-btn--raised,
.proctoru-ui-btn--fab {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .proctoru-ui-btn--raised,
  .proctoru-ui-btn--fab {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); } }

.proctoru-ui-btn--fab {
  border-radius: 50%;
  height: 55px;
  line-height: 55px;
  padding: 0;
  position: relative;
  width: 55px;
  z-index: 1; }

.proctoru-ui-btn--primary {
  background-color: #2196F3;
  border-radius: 20.5px;
  color: #FFF;
  height: 41px;
  width: 272px; }

.proctoru-ui-btn--primary:hover, .proctoru-ui-btn--primary:focus, .proctoru-ui-btn--primary:active {
  background-color: #39a1f4;
  color: #FFF; }

.proctoru-ui-btn--primary[disabled]:hover, .proctoru-ui-btn--primary[disabled]:focus, .proctoru-ui-btn--primary[disabled]:active {
  background-color: #2196F3;
  color: #FFF; }

.proctoru-ui-btn--primary.proctoru-ui-btn--flat {
  background-color: transparent;
  color: #2196F3; }

.proctoru-ui-btn--primary.proctoru-ui-btn--flat:hover, .proctoru-ui-btn--primary.proctoru-ui-btn--flat:focus, .proctoru-ui-btn--primary.proctoru-ui-btn--flat:active {
  background-color: #f2f2f2;
  color: #2196F3; }

.proctoru-ui-btn--primary.proctoru-ui-btn--flat[disabled]:hover, .proctoru-ui-btn--primary.proctoru-ui-btn--flat[disabled]:focus, .proctoru-ui-btn--primary.proctoru-ui-btn--flat[disabled]:active {
  background-color: transparent;
  color: #2196F3; }

.proctoru-ui-btn--dark {
  background-color: #424242;
  color: #FFF; }

.proctoru-ui-btn--dark:hover, .proctoru-ui-btn--dark:focus, .proctoru-ui-btn--dark:active {
  background-color: #4f4f4f;
  color: #FFF; }

.proctoru-ui-btn--dark[disabled]:hover, .proctoru-ui-btn--dark[disabled]:focus, .proctoru-ui-btn--dark[disabled]:active {
  background-color: #424242;
  color: #FFF; }

.proctoru-ui-btn--dark.proctoru-ui-btn--flat {
  background-color: transparent;
  color: #424242; }

.proctoru-ui-btn--dark.proctoru-ui-btn--flat:hover, .proctoru-ui-btn--dark.proctoru-ui-btn--flat:focus, .proctoru-ui-btn--dark.proctoru-ui-btn--flat:active {
  background-color: #f2f2f2;
  color: #424242; }

.proctoru-ui-btn--dark.proctoru-ui-btn--flat[disabled]:hover, .proctoru-ui-btn--dark.proctoru-ui-btn--flat[disabled]:focus, .proctoru-ui-btn--dark.proctoru-ui-btn--flat[disabled]:active {
  background-color: transparent;
  color: #424242; }

.proctoru-ui-btn--danger {
  background-color: #F44336;
  color: #FFF; }

.proctoru-ui-btn--danger:hover, .proctoru-ui-btn--danger:focus, .proctoru-ui-btn--danger:active {
  background-color: #f55a4e;
  color: #FFF; }

.proctoru-ui-btn--danger[disabled]:hover, .proctoru-ui-btn--danger[disabled]:focus, .proctoru-ui-btn--danger[disabled]:active {
  background-color: #F44336;
  color: #FFF; }

.proctoru-ui-btn--danger.proctoru-ui-btn--flat {
  background-color: transparent;
  color: #F44336; }

.proctoru-ui-btn--danger.proctoru-ui-btn--flat:hover, .proctoru-ui-btn--danger.proctoru-ui-btn--flat:focus, .proctoru-ui-btn--danger.proctoru-ui-btn--flat:active {
  background-color: #f2f2f2;
  color: #F44336; }

.proctoru-ui-btn--danger.proctoru-ui-btn--flat[disabled]:hover, .proctoru-ui-btn--danger.proctoru-ui-btn--flat[disabled]:focus, .proctoru-ui-btn--danger.proctoru-ui-btn--flat[disabled]:active {
  background-color: transparent;
  color: #F44336; }

.proctoru-ui-btn--accent {
  background-color: #FF4081;
  color: #FFF; }

.proctoru-ui-btn--accent:hover, .proctoru-ui-btn--accent:focus, .proctoru-ui-btn--accent:active {
  background-color: #ff5a92;
  color: #FFF; }

.proctoru-ui-btn--accent[disabled]:hover, .proctoru-ui-btn--accent[disabled]:focus, .proctoru-ui-btn--accent[disabled]:active {
  background-color: #FF4081;
  color: #FFF; }

.proctoru-ui-btn--accent.proctoru-ui-btn--flat {
  background-color: transparent;
  color: #FF4081; }

.proctoru-ui-btn--accent.proctoru-ui-btn--flat:hover, .proctoru-ui-btn--accent.proctoru-ui-btn--flat:focus, .proctoru-ui-btn--accent.proctoru-ui-btn--flat:active {
  background-color: #f2f2f2;
  color: #FF4081; }

.proctoru-ui-btn--accent.proctoru-ui-btn--flat[disabled]:hover, .proctoru-ui-btn--accent.proctoru-ui-btn--flat[disabled]:focus, .proctoru-ui-btn--accent.proctoru-ui-btn--flat[disabled]:active {
  background-color: transparent;
  color: #FF4081; }

.proctoru-ui-btn--small {
  font-size: 13px;
  height: 30.6px;
  line-height: 30.6px;
  padding: 0 16px; }

.proctoru-ui-btn--large {
  font-size: 14px;
  height: 54px;
  line-height: 54px;
  padding: 0 26px; }

.proctoru-ui-btn--fab.proctoru-ui-btn--small {
  height: 44px;
  line-height: 44px;
  width: 44px; }

.proctoru-ui-btn--fab.proctoru-ui-btn--large {
  height: 75px;
  line-height: 75px;
  width: 75px; }

.proctoru-ui-btn--fab {
  border-radius: 50%;
  height: 55px;
  line-height: 55px;
  padding: 0;
  position: relative;
  width: 55px;
  z-index: 1; }

.proctoru-ui-btn--primary {
  background-color: #2196F3;
  border-radius: 20.5px;
  color: #FFF;
  height: 41px;
  width: 272px; }

.proctoru-ui-btn--primary:hover, .proctoru-ui-btn--primary:focus, .proctoru-ui-btn--primary:active {
  background-color: #39a1f4;
  color: #FFF; }

.proctoru-ui-btn--primary[disabled]:hover, .proctoru-ui-btn--primary[disabled]:focus, .proctoru-ui-btn--primary[disabled]:active {
  background-color: #2196F3;
  color: #FFF; }

.proctoru-ui-btn--primary.proctoru-ui-btn--flat {
  background-color: transparent;
  color: #2196F3; }

.proctoru-ui-btn--primary.proctoru-ui-btn--flat:hover, .proctoru-ui-btn--primary.proctoru-ui-btn--flat:focus, .proctoru-ui-btn--primary.proctoru-ui-btn--flat:active {
  background-color: #f2f2f2;
  color: #2196F3; }

.proctoru-ui-btn--primary.proctoru-ui-btn--flat[disabled]:hover, .proctoru-ui-btn--primary.proctoru-ui-btn--flat[disabled]:focus, .proctoru-ui-btn--primary.proctoru-ui-btn--flat[disabled]:active {
  background-color: transparent;
  color: #2196F3; }

.proctoru-ui-btn--dark {
  background-color: #424242;
  color: #FFF; }

.proctoru-ui-btn--dark:hover, .proctoru-ui-btn--dark:focus, .proctoru-ui-btn--dark:active {
  background-color: #4f4f4f;
  color: #FFF; }

.proctoru-ui-btn--dark[disabled]:hover, .proctoru-ui-btn--dark[disabled]:focus, .proctoru-ui-btn--dark[disabled]:active {
  background-color: #424242;
  color: #FFF; }

.proctoru-ui-btn--dark.proctoru-ui-btn--flat {
  background-color: transparent;
  color: #424242; }

.proctoru-ui-btn--dark.proctoru-ui-btn--flat:hover, .proctoru-ui-btn--dark.proctoru-ui-btn--flat:focus, .proctoru-ui-btn--dark.proctoru-ui-btn--flat:active {
  background-color: #f2f2f2;
  color: #424242; }

.proctoru-ui-btn--dark.proctoru-ui-btn--flat[disabled]:hover, .proctoru-ui-btn--dark.proctoru-ui-btn--flat[disabled]:focus, .proctoru-ui-btn--dark.proctoru-ui-btn--flat[disabled]:active {
  background-color: transparent;
  color: #424242; }

.proctoru-ui-btn--danger {
  background-color: #F44336;
  color: #FFF; }

.proctoru-ui-btn--danger:hover, .proctoru-ui-btn--danger:focus, .proctoru-ui-btn--danger:active {
  background-color: #f55a4e;
  color: #FFF; }

.proctoru-ui-btn--danger[disabled]:hover, .proctoru-ui-btn--danger[disabled]:focus, .proctoru-ui-btn--danger[disabled]:active {
  background-color: #F44336;
  color: #FFF; }

.proctoru-ui-btn--danger.proctoru-ui-btn--flat {
  background-color: transparent;
  color: #F44336; }

.proctoru-ui-btn--danger.proctoru-ui-btn--flat:hover, .proctoru-ui-btn--danger.proctoru-ui-btn--flat:focus, .proctoru-ui-btn--danger.proctoru-ui-btn--flat:active {
  background-color: #f2f2f2;
  color: #F44336; }

.proctoru-ui-btn--danger.proctoru-ui-btn--flat[disabled]:hover, .proctoru-ui-btn--danger.proctoru-ui-btn--flat[disabled]:focus, .proctoru-ui-btn--danger.proctoru-ui-btn--flat[disabled]:active {
  background-color: transparent;
  color: #F44336; }

.proctoru-ui-btn--accent {
  background-color: #FF4081;
  color: #FFF; }

.proctoru-ui-btn--accent:hover, .proctoru-ui-btn--accent:focus, .proctoru-ui-btn--accent:active {
  background-color: #ff5a92;
  color: #FFF; }

.proctoru-ui-btn--accent[disabled]:hover, .proctoru-ui-btn--accent[disabled]:focus, .proctoru-ui-btn--accent[disabled]:active {
  background-color: #FF4081;
  color: #FFF; }

.proctoru-ui-btn--accent.proctoru-ui-btn--flat {
  background-color: transparent;
  color: #FF4081; }

.proctoru-ui-btn--accent.proctoru-ui-btn--flat:hover, .proctoru-ui-btn--accent.proctoru-ui-btn--flat:focus, .proctoru-ui-btn--accent.proctoru-ui-btn--flat:active {
  background-color: #f2f2f2;
  color: #FF4081; }

.proctoru-ui-btn--accent.proctoru-ui-btn--flat[disabled]:hover, .proctoru-ui-btn--accent.proctoru-ui-btn--flat[disabled]:focus, .proctoru-ui-btn--accent.proctoru-ui-btn--flat[disabled]:active {
  background-color: transparent;
  color: #FF4081; }

.proctoru-ui-btn--small {
  font-size: 13px;
  height: 30.6px;
  line-height: 30.6px;
  padding: 0 16px; }

.proctoru-ui-btn--large {
  font-size: 14px;
  height: 54px;
  line-height: 54px;
  padding: 0 26px; }

.proctoru-ui-btn--fab.proctoru-ui-btn--small {
  height: 44px;
  line-height: 44px;
  width: 44px; }

.proctoru-ui-btn--fab.proctoru-ui-btn--large {
  height: 75px;
  line-height: 75px;
  width: 75px; }

button.proctoru-ui-btn::-moz-focus-inner,
.proctoru-ui-btn[type="button"]::-moz-focus-inner,
.proctoru-ui-btn[type="reset"]::-moz-focus-inner,
.proctoru-ui-btn[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button.proctoru-ui-btn:-moz-focusring,
.proctoru-ui-btn[type="button"]:-moz-focusring,
.proctoru-ui-btn[type="reset"]:-moz-focusring,
.proctoru-ui-btn[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

.proctoru-ui-a11y-blue {
  color: #0072b1; }

/* COLORS */
/* FONTS */
/* LAYOUT */
/* CUSTOM SCROLLBAR */
/* NEW UI */
/* AUTOMATIC PROGRESS */
body.proctoru-disable-print {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

@media print {
  body.proctoru-disable-print:before {
    border-bottom: 1px solid #000 !important;
    border-top: 1px solid #000 !important;
    content: 'Sorry! You are not allowed to print exam content while your ProctorU session is still running.';
    display: block !important;
    font-size: 30px !important;
    padding: 30px !important;
    text-align: center !important; }
  body.proctoru-disable-print * {
    display: none; } }

a {
  cursor: pointer;
  text-decoration: none; }

#utility-tab-content *:focus,
#utility-tab-content *:hover,
#utility-tab-content *:active,
#modal-window-container *:focus,
#modal-window-container *:hover,
#modal-window-container *:active {
  outline: none; }

#utility-tab-content *,
#utility-tab-content *:before,
#utility-tab-content *:after,
#modal-window-container *,
#modal-window-container *:before,
#modal-window-container *:after {
  box-sizing: border-box; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden; }

.hidden-proctoru {
  display: none !important; }

.pointerless-proctoru {
  pointer-events: none; }

.text-center {
  text-align: center; }

.p-indent {
  padding: 30px; }

.text-capitalize {
  text-transform: capitalize; }

.text-right {
  text-align: right; }

.m-t30 {
  margin-top: 30px; }

.m-b10 {
  margin-bottom: 10px; }

.p-r0, .p-rl0 {
  padding-right: 0; }

.p-l0, .p-rl0 {
  padding-left: 0; }

.p-t16 {
  padding-top: 16px; }

/* Screen readers */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.coursesettings button,
.coursesettings input,
.coursesettings optgroup,
.coursesettings select,
.coursesettings textarea {
  font-family: "LatoWeb", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.text-security-disc {
  -webkit-text-security: disc; }

/* Hide the BrightSpace footer buttons (CTA) to prevent overlapping over pre-checks modal */
body #d_content .d2l-floating-buttons-0 .d2l-floating-buttons-container.d2l-floating-buttons-floating.d2l-floating-buttons {
  z-index: 100; }

.proctoru-alert .errors-text {
  color: #ea5c6d; }

.spinner-container.spinner-small img {
  margin-bottom: 5px;
  vertical-align: middle;
  width: 24px; }

/* import normalize, variables and default rules*/
.proctoru-ui-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .proctoru-ui-container:before, .proctoru-ui-container:after {
    content: ' ';
    display: table; }
  .proctoru-ui-container:after {
    clear: both; }
  @media (min-width: 544px) {
    .proctoru-ui-container {
      max-width: 570px; } }
  @media (min-width: 768px) {
    .proctoru-ui-container {
      max-width: 740px; } }
  @media (min-width: 992px) {
    .proctoru-ui-container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .proctoru-ui-container {
      max-width: 1170px; } }

.proctoru-ui-container-fluid {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .proctoru-ui-container-fluid:before, .proctoru-ui-container-fluid:after {
    content: ' ';
    display: table; }
  .proctoru-ui-container-fluid:after {
    clear: both; }

.proctoru-ui-row {
  margin-left: -15px;
  margin-right: -15px; }
  .proctoru-ui-row:before, .proctoru-ui-row:after {
    content: ' ';
    display: table; }
  .proctoru-ui-row:after {
    clear: both; }

.proctoru-ui-radio {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative; }
  .proctoru-ui-radio > label {
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 0;
    min-height: 22px;
    padding-left: 20px; }
  .proctoru-ui-radio input:disabled {
    cursor: not-allowed; }

.proctoru-ui-radio > label > input[type="radio"] {
  margin-left: -20px;
  margin-top: 4px;
  position: absolute; }

.proctoru-ui-radio + .proctoru-ui-radio {
  margin-top: -5px; }

.proctoru-ui-col-md-3,
.proctoru-ui-col-md-4,
.proctoru-ui-col-md-9,
.proctoru-ui-col-md-12 {
  box-sizing: border-box;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .proctoru-ui-col-md-3,
  .proctoru-ui-col-md-4,
  .proctoru-ui-col-md-9,
  .proctoru-ui-col-md-12 {
    float: left; }
  .proctoru-ui-col-md-3 {
    width: 25%; }
  .proctoru-ui-col-md-4 {
    width: 33.33333%; }
  .proctoru-ui-col-md-9 {
    width: 75%; }
  .proctoru-ui-col-md-12 {
    width: 100%; } }

/**
 * UI Panel module
 */
.proctoru-ui-panel {
  background-color: #FFF;
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
  padding: 15px; }

.proctoru-ui-panel:before,
.proctoru-ui-panel:after {
  content: ' ';
  display: table; }

.proctoru-ui-panel:after {
  clear: both; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .proctoru-ui-panel {
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.12), -1px 0px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12); } }

@supports (-ms-ime-align: auto) {
  .proctoru-ui-panel {
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.12), -1px 0px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12); } }

/**
 * UI Button
 */
.proctoru-ui-btn {
  background-color: #FFF;
  background-image: none;
  border: none;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0.03em;
  line-height: 18px;
  margin: 6px 0;
  overflow: hidden;
  padding: 0 26px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.proctoru-ui-btn:hover,
.proctoru-ui-btn:focus,
.proctoru-ui-btn:active {
  background-color: white;
  color: rgba(0, 0, 0, 0.87); }

.proctoru-ui-btn[disabled]:hover,
.proctoru-ui-btn[disabled]:focus,
.proctoru-ui-btn[disabled]:active {
  background-color: #FFF;
  color: rgba(0, 0, 0, 0.87); }

.proctoru-ui-btn.proctoru-ui-btn--flat {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87); }

.proctoru-ui-btn.proctoru-ui-btn--flat:hover,
.proctoru-ui-btn.proctoru-ui-btn--flat:focus,
.proctoru-ui-btn.proctoru-ui-btn--flat:active {
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.87); }

.proctoru-ui-btn.proctoru-ui-btn--flat[disabled]:hover,
.proctoru-ui-btn.proctoru-ui-btn--flat[disabled]:focus,
.proctoru-ui-btn.proctoru-ui-btn--flat[disabled]:active {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87); }

.proctoru-ui-btn:hover,
.proctoru-ui-btn:focus,
.proctoru-ui-btn:active {
  color: rgba(0, 0, 0, 0.87);
  outline: 0;
  text-decoration: none; }

.proctoru-ui-btn:hover,
.proctoru-ui-btn:focus {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .proctoru-ui-btn:hover,
  .proctoru-ui-btn:focus {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); } }

@supports (-ms-ime-align: auto) {
  .proctoru-ui-btn:hover,
  .proctoru-ui-btn:focus {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); } }

.proctoru-ui-btn:active:hover {
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.12), 1px 3px 4px rgba(0, 0, 0, 0.2); }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .proctoru-ui-btn:active:hover {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 4px rgba(0, 0, 0, 0.12), 1px 3px 4px rgba(0, 0, 0, 0.2); } }

@supports (-ms-ime-align: auto) {
  .proctoru-ui-btn:active:hover {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 4px rgba(0, 0, 0, 0.12), 1px 3px 4px rgba(0, 0, 0, 0.2); } }

.proctoru-ui-btn:disabled {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.60;
  pointer-events: none; }

.proctoru-ui-btn + .proctoru-ui-btn {
  margin-left: 8px; }

.proctoru-ui-btn--flat {
  background-color: transparent; }

.proctoru-ui-btn--flat:hover,
.proctoru-ui-btn--flat:focus,
.proctoru-ui-btn--flat:active,
.proctoru-ui-btn--flat:active:hover {
  background-color: #f2f2f2;
  box-shadow: none; }

.proctoru-ui-btn--raised,
.proctoru-ui-btn--fab {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .proctoru-ui-btn--raised,
  .proctoru-ui-btn--fab {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); } }

.proctoru-ui-btn--fab {
  border-radius: 50%;
  height: 55px;
  line-height: 55px;
  padding: 0;
  position: relative;
  width: 55px;
  z-index: 1; }

.proctoru-ui-btn--primary {
  background-color: #2196F3;
  border-radius: 20.5px;
  color: #FFF;
  height: 41px;
  width: 272px; }

.proctoru-ui-btn--primary:hover, .proctoru-ui-btn--primary:focus, .proctoru-ui-btn--primary:active {
  background-color: #39a1f4;
  color: #FFF; }

.proctoru-ui-btn--primary[disabled]:hover, .proctoru-ui-btn--primary[disabled]:focus, .proctoru-ui-btn--primary[disabled]:active {
  background-color: #2196F3;
  color: #FFF; }

.proctoru-ui-btn--primary.proctoru-ui-btn--flat {
  background-color: transparent;
  color: #2196F3; }

.proctoru-ui-btn--primary.proctoru-ui-btn--flat:hover, .proctoru-ui-btn--primary.proctoru-ui-btn--flat:focus, .proctoru-ui-btn--primary.proctoru-ui-btn--flat:active {
  background-color: #f2f2f2;
  color: #2196F3; }

.proctoru-ui-btn--primary.proctoru-ui-btn--flat[disabled]:hover, .proctoru-ui-btn--primary.proctoru-ui-btn--flat[disabled]:focus, .proctoru-ui-btn--primary.proctoru-ui-btn--flat[disabled]:active {
  background-color: transparent;
  color: #2196F3; }

.proctoru-ui-btn--dark {
  background-color: #424242;
  color: #FFF; }

.proctoru-ui-btn--dark:hover, .proctoru-ui-btn--dark:focus, .proctoru-ui-btn--dark:active {
  background-color: #4f4f4f;
  color: #FFF; }

.proctoru-ui-btn--dark[disabled]:hover, .proctoru-ui-btn--dark[disabled]:focus, .proctoru-ui-btn--dark[disabled]:active {
  background-color: #424242;
  color: #FFF; }

.proctoru-ui-btn--dark.proctoru-ui-btn--flat {
  background-color: transparent;
  color: #424242; }

.proctoru-ui-btn--dark.proctoru-ui-btn--flat:hover, .proctoru-ui-btn--dark.proctoru-ui-btn--flat:focus, .proctoru-ui-btn--dark.proctoru-ui-btn--flat:active {
  background-color: #f2f2f2;
  color: #424242; }

.proctoru-ui-btn--dark.proctoru-ui-btn--flat[disabled]:hover, .proctoru-ui-btn--dark.proctoru-ui-btn--flat[disabled]:focus, .proctoru-ui-btn--dark.proctoru-ui-btn--flat[disabled]:active {
  background-color: transparent;
  color: #424242; }

.proctoru-ui-btn--danger {
  background-color: #F44336;
  color: #FFF; }

.proctoru-ui-btn--danger:hover, .proctoru-ui-btn--danger:focus, .proctoru-ui-btn--danger:active {
  background-color: #f55a4e;
  color: #FFF; }

.proctoru-ui-btn--danger[disabled]:hover, .proctoru-ui-btn--danger[disabled]:focus, .proctoru-ui-btn--danger[disabled]:active {
  background-color: #F44336;
  color: #FFF; }

.proctoru-ui-btn--danger.proctoru-ui-btn--flat {
  background-color: transparent;
  color: #F44336; }

.proctoru-ui-btn--danger.proctoru-ui-btn--flat:hover, .proctoru-ui-btn--danger.proctoru-ui-btn--flat:focus, .proctoru-ui-btn--danger.proctoru-ui-btn--flat:active {
  background-color: #f2f2f2;
  color: #F44336; }

.proctoru-ui-btn--danger.proctoru-ui-btn--flat[disabled]:hover, .proctoru-ui-btn--danger.proctoru-ui-btn--flat[disabled]:focus, .proctoru-ui-btn--danger.proctoru-ui-btn--flat[disabled]:active {
  background-color: transparent;
  color: #F44336; }

.proctoru-ui-btn--accent {
  background-color: #FF4081;
  color: #FFF; }

.proctoru-ui-btn--accent:hover, .proctoru-ui-btn--accent:focus, .proctoru-ui-btn--accent:active {
  background-color: #ff5a92;
  color: #FFF; }

.proctoru-ui-btn--accent[disabled]:hover, .proctoru-ui-btn--accent[disabled]:focus, .proctoru-ui-btn--accent[disabled]:active {
  background-color: #FF4081;
  color: #FFF; }

.proctoru-ui-btn--accent.proctoru-ui-btn--flat {
  background-color: transparent;
  color: #FF4081; }

.proctoru-ui-btn--accent.proctoru-ui-btn--flat:hover, .proctoru-ui-btn--accent.proctoru-ui-btn--flat:focus, .proctoru-ui-btn--accent.proctoru-ui-btn--flat:active {
  background-color: #f2f2f2;
  color: #FF4081; }

.proctoru-ui-btn--accent.proctoru-ui-btn--flat[disabled]:hover, .proctoru-ui-btn--accent.proctoru-ui-btn--flat[disabled]:focus, .proctoru-ui-btn--accent.proctoru-ui-btn--flat[disabled]:active {
  background-color: transparent;
  color: #FF4081; }

.proctoru-ui-btn--small {
  font-size: 13px;
  height: 30.6px;
  line-height: 30.6px;
  padding: 0 16px; }

.proctoru-ui-btn--large {
  font-size: 14px;
  height: 54px;
  line-height: 54px;
  padding: 0 26px; }

.proctoru-ui-btn--fab.proctoru-ui-btn--small {
  height: 44px;
  line-height: 44px;
  width: 44px; }

.proctoru-ui-btn--fab.proctoru-ui-btn--large {
  height: 75px;
  line-height: 75px;
  width: 75px; }

.proctoru-ui-btn--fab {
  border-radius: 50%;
  height: 55px;
  line-height: 55px;
  padding: 0;
  position: relative;
  width: 55px;
  z-index: 1; }

.proctoru-ui-btn--primary {
  background-color: #2196F3;
  border-radius: 20.5px;
  color: #FFF;
  height: 41px;
  width: 272px; }

.proctoru-ui-btn--primary:hover, .proctoru-ui-btn--primary:focus, .proctoru-ui-btn--primary:active {
  background-color: #39a1f4;
  color: #FFF; }

.proctoru-ui-btn--primary[disabled]:hover, .proctoru-ui-btn--primary[disabled]:focus, .proctoru-ui-btn--primary[disabled]:active {
  background-color: #2196F3;
  color: #FFF; }

.proctoru-ui-btn--primary.proctoru-ui-btn--flat {
  background-color: transparent;
  color: #2196F3; }

.proctoru-ui-btn--primary.proctoru-ui-btn--flat:hover, .proctoru-ui-btn--primary.proctoru-ui-btn--flat:focus, .proctoru-ui-btn--primary.proctoru-ui-btn--flat:active {
  background-color: #f2f2f2;
  color: #2196F3; }

.proctoru-ui-btn--primary.proctoru-ui-btn--flat[disabled]:hover, .proctoru-ui-btn--primary.proctoru-ui-btn--flat[disabled]:focus, .proctoru-ui-btn--primary.proctoru-ui-btn--flat[disabled]:active {
  background-color: transparent;
  color: #2196F3; }

.proctoru-ui-btn--dark {
  background-color: #424242;
  color: #FFF; }

.proctoru-ui-btn--dark:hover, .proctoru-ui-btn--dark:focus, .proctoru-ui-btn--dark:active {
  background-color: #4f4f4f;
  color: #FFF; }

.proctoru-ui-btn--dark[disabled]:hover, .proctoru-ui-btn--dark[disabled]:focus, .proctoru-ui-btn--dark[disabled]:active {
  background-color: #424242;
  color: #FFF; }

.proctoru-ui-btn--dark.proctoru-ui-btn--flat {
  background-color: transparent;
  color: #424242; }

.proctoru-ui-btn--dark.proctoru-ui-btn--flat:hover, .proctoru-ui-btn--dark.proctoru-ui-btn--flat:focus, .proctoru-ui-btn--dark.proctoru-ui-btn--flat:active {
  background-color: #f2f2f2;
  color: #424242; }

.proctoru-ui-btn--dark.proctoru-ui-btn--flat[disabled]:hover, .proctoru-ui-btn--dark.proctoru-ui-btn--flat[disabled]:focus, .proctoru-ui-btn--dark.proctoru-ui-btn--flat[disabled]:active {
  background-color: transparent;
  color: #424242; }

.proctoru-ui-btn--danger {
  background-color: #F44336;
  color: #FFF; }

.proctoru-ui-btn--danger:hover, .proctoru-ui-btn--danger:focus, .proctoru-ui-btn--danger:active {
  background-color: #f55a4e;
  color: #FFF; }

.proctoru-ui-btn--danger[disabled]:hover, .proctoru-ui-btn--danger[disabled]:focus, .proctoru-ui-btn--danger[disabled]:active {
  background-color: #F44336;
  color: #FFF; }

.proctoru-ui-btn--danger.proctoru-ui-btn--flat {
  background-color: transparent;
  color: #F44336; }

.proctoru-ui-btn--danger.proctoru-ui-btn--flat:hover, .proctoru-ui-btn--danger.proctoru-ui-btn--flat:focus, .proctoru-ui-btn--danger.proctoru-ui-btn--flat:active {
  background-color: #f2f2f2;
  color: #F44336; }

.proctoru-ui-btn--danger.proctoru-ui-btn--flat[disabled]:hover, .proctoru-ui-btn--danger.proctoru-ui-btn--flat[disabled]:focus, .proctoru-ui-btn--danger.proctoru-ui-btn--flat[disabled]:active {
  background-color: transparent;
  color: #F44336; }

.proctoru-ui-btn--accent {
  background-color: #FF4081;
  color: #FFF; }

.proctoru-ui-btn--accent:hover, .proctoru-ui-btn--accent:focus, .proctoru-ui-btn--accent:active {
  background-color: #ff5a92;
  color: #FFF; }

.proctoru-ui-btn--accent[disabled]:hover, .proctoru-ui-btn--accent[disabled]:focus, .proctoru-ui-btn--accent[disabled]:active {
  background-color: #FF4081;
  color: #FFF; }

.proctoru-ui-btn--accent.proctoru-ui-btn--flat {
  background-color: transparent;
  color: #FF4081; }

.proctoru-ui-btn--accent.proctoru-ui-btn--flat:hover, .proctoru-ui-btn--accent.proctoru-ui-btn--flat:focus, .proctoru-ui-btn--accent.proctoru-ui-btn--flat:active {
  background-color: #f2f2f2;
  color: #FF4081; }

.proctoru-ui-btn--accent.proctoru-ui-btn--flat[disabled]:hover, .proctoru-ui-btn--accent.proctoru-ui-btn--flat[disabled]:focus, .proctoru-ui-btn--accent.proctoru-ui-btn--flat[disabled]:active {
  background-color: transparent;
  color: #FF4081; }

.proctoru-ui-btn--small {
  font-size: 13px;
  height: 30.6px;
  line-height: 30.6px;
  padding: 0 16px; }

.proctoru-ui-btn--large {
  font-size: 14px;
  height: 54px;
  line-height: 54px;
  padding: 0 26px; }

.proctoru-ui-btn--fab.proctoru-ui-btn--small {
  height: 44px;
  line-height: 44px;
  width: 44px; }

.proctoru-ui-btn--fab.proctoru-ui-btn--large {
  height: 75px;
  line-height: 75px;
  width: 75px; }

button.proctoru-ui-btn::-moz-focus-inner,
.proctoru-ui-btn[type="button"]::-moz-focus-inner,
.proctoru-ui-btn[type="reset"]::-moz-focus-inner,
.proctoru-ui-btn[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button.proctoru-ui-btn:-moz-focusring,
.proctoru-ui-btn[type="button"]:-moz-focusring,
.proctoru-ui-btn[type="reset"]:-moz-focusring,
.proctoru-ui-btn[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

.proctoru-ui-a11y-blue {
  color: #0072b1; }

/* COLORS */
/* FONTS */
/* LAYOUT */
/* CUSTOM SCROLLBAR */
/* NEW UI */
/* AUTOMATIC PROGRESS */
body.proctoru-disable-print {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

@media print {
  body.proctoru-disable-print:before {
    border-bottom: 1px solid #000 !important;
    border-top: 1px solid #000 !important;
    content: 'Sorry! You are not allowed to print exam content while your ProctorU session is still running.';
    display: block !important;
    font-size: 30px !important;
    padding: 30px !important;
    text-align: center !important; }
  body.proctoru-disable-print * {
    display: none; } }

a {
  cursor: pointer;
  text-decoration: none; }

#utility-tab-content *:focus,
#utility-tab-content *:hover,
#utility-tab-content *:active,
#modal-window-container *:focus,
#modal-window-container *:hover,
#modal-window-container *:active {
  outline: none; }

#utility-tab-content *,
#utility-tab-content *:before,
#utility-tab-content *:after,
#modal-window-container *,
#modal-window-container *:before,
#modal-window-container *:after {
  box-sizing: border-box; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden; }

.hidden-proctoru {
  display: none !important; }

.pointerless-proctoru {
  pointer-events: none; }

.text-center {
  text-align: center; }

.p-indent {
  padding: 30px; }

.text-capitalize {
  text-transform: capitalize; }

.text-right {
  text-align: right; }

.m-t30 {
  margin-top: 30px; }

.m-b10 {
  margin-bottom: 10px; }

.p-r0, .p-rl0 {
  padding-right: 0; }

.p-l0, .p-rl0 {
  padding-left: 0; }

.p-t16 {
  padding-top: 16px; }

/* Screen readers */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.coursesettings button,
.coursesettings input,
.coursesettings optgroup,
.coursesettings select,
.coursesettings textarea {
  font-family: "LatoWeb", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.text-security-disc {
  -webkit-text-security: disc; }

/* Hide the BrightSpace footer buttons (CTA) to prevent overlapping over pre-checks modal */
body #d_content .d2l-floating-buttons-0 .d2l-floating-buttons-container.d2l-floating-buttons-floating.d2l-floating-buttons {
  z-index: 100; }

.proctoru-alert .errors-text {
  color: #ea5c6d; }

.spinner-container.spinner-small img {
  margin-bottom: 5px;
  vertical-align: middle;
  width: 24px; }

#alert-modal-container button,
#stop-session-modal button,
#general-error-modal button,
#incoming-call-modal button {
  background-color: #0072b1;
  color: #FFF;
  min-width: 80px;
  padding: 0 10px; }
  #alert-modal-container button.basic,
  #stop-session-modal button.basic,
  #general-error-modal button.basic,
  #incoming-call-modal button.basic {
    background-color: white;
    border: 1px solid #868e96;
    color: #333333; }

#alert-modal-container button:focus,
#stop-session-modal button:focus,
#general-error-modal button:focus,
#incoming-call-modal button:focus {
  text-decoration: underline; }

#alert-modal-container a,
#alert-modal-container a:visited,
#stop-session-modal a,
#stop-session-modal a:visited,
#general-error-modal a,
#general-error-modal a:visited,
#incoming-call-modal a,
#incoming-call-modal a:visited {
  color: #0072b1 !important;
  text-decoration: none; }

#alert-modal-container a:hover,
#stop-session-modal a:hover,
#general-error-modal a:hover,
#incoming-call-modal a:hover {
  color: #3171ac !important;
  text-decoration: underline; }

#alert-modal-container h2,
#stop-session-modal h2,
#general-error-modal h2,
#incoming-call-modal h2 {
  margin-top: 0; }

#alert-modal-container h1, #alert-modal-container h2, #alert-modal-container h3, #alert-modal-container h4, #alert-modal-container h5, #alert-modal-container h6,
#stop-session-modal h1,
#stop-session-modal h2,
#stop-session-modal h3,
#stop-session-modal h4,
#stop-session-modal h5,
#stop-session-modal h6,
#general-error-modal h1,
#general-error-modal h2,
#general-error-modal h3,
#general-error-modal h4,
#general-error-modal h5,
#general-error-modal h6,
#incoming-call-modal h1,
#incoming-call-modal h2,
#incoming-call-modal h3,
#incoming-call-modal h4,
#incoming-call-modal h5,
#incoming-call-modal h6 {
  color: #333; }

#alert-modal-container .inner-html,
#stop-session-modal .inner-html,
#general-error-modal .inner-html,
#incoming-call-modal .inner-html {
  margin-top: 20px;
  max-width: 100%; }

#alert-modal-container .alert-modal,
#stop-session-modal .alert-modal,
#general-error-modal .alert-modal,
#incoming-call-modal .alert-modal {
  max-width: 100vw;
  margin: 0 auto;
  padding: 50px;
  text-align: center; }
  #alert-modal-container .alert-modal h2,
  #stop-session-modal .alert-modal h2,
  #general-error-modal .alert-modal h2,
  #incoming-call-modal .alert-modal h2 {
    font-family: inherit;
    font-size: 1.8em;
    font-weight: normal;
    line-height: 1.5;
    margin: 6px 0; }
  #alert-modal-container .alert-modal .incoming-call-header-wrapper,
  #stop-session-modal .alert-modal .incoming-call-header-wrapper,
  #general-error-modal .alert-modal .incoming-call-header-wrapper,
  #incoming-call-modal .alert-modal .incoming-call-header-wrapper {
    height: 60px; }
    #alert-modal-container .alert-modal .incoming-call-header-wrapper .incoming-call-logo,
    #stop-session-modal .alert-modal .incoming-call-header-wrapper .incoming-call-logo,
    #general-error-modal .alert-modal .incoming-call-header-wrapper .incoming-call-logo,
    #incoming-call-modal .alert-modal .incoming-call-header-wrapper .incoming-call-logo {
      display: inline-block;
      height: 42px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 42px; }
    #alert-modal-container .alert-modal .incoming-call-header-wrapper .incoming-call-header,
    #stop-session-modal .alert-modal .incoming-call-header-wrapper .incoming-call-header,
    #general-error-modal .alert-modal .incoming-call-header-wrapper .incoming-call-header,
    #incoming-call-modal .alert-modal .incoming-call-header-wrapper .incoming-call-header {
      color: #0FB5DF;
      display: inline-block;
      font-size: 1.4em;
      margin-left: 10px;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
  #alert-modal-container .alert-modal .incoming-call-dialling,
  #stop-session-modal .alert-modal .incoming-call-dialling,
  #general-error-modal .alert-modal .incoming-call-dialling,
  #incoming-call-modal .alert-modal .incoming-call-dialling {
    color: #a99c9c;
    display: block;
    font-size: 1em;
    padding: 0 0 10px; }
  #alert-modal-container .alert-modal .voice-chat-spinner > div,
  #stop-session-modal .alert-modal .voice-chat-spinner > div,
  #general-error-modal .alert-modal .voice-chat-spinner > div,
  #incoming-call-modal .alert-modal .voice-chat-spinner > div {
    height: 12px;
    width: 12px; }
  #alert-modal-container .alert-modal .try-again-btn,
  #stop-session-modal .alert-modal .try-again-btn,
  #general-error-modal .alert-modal .try-again-btn,
  #incoming-call-modal .alert-modal .try-again-btn {
    background-color: #0072b1;
    margin: 0;
    min-width: 45px;
    padding: 0; }
    #alert-modal-container .alert-modal .try-again-btn:hover, #alert-modal-container .alert-modal .try-again-btn:focus, #alert-modal-container .alert-modal .try-again-btn:active,
    #stop-session-modal .alert-modal .try-again-btn:hover,
    #stop-session-modal .alert-modal .try-again-btn:focus,
    #stop-session-modal .alert-modal .try-again-btn:active,
    #general-error-modal .alert-modal .try-again-btn:hover,
    #general-error-modal .alert-modal .try-again-btn:focus,
    #general-error-modal .alert-modal .try-again-btn:active,
    #incoming-call-modal .alert-modal .try-again-btn:hover,
    #incoming-call-modal .alert-modal .try-again-btn:focus,
    #incoming-call-modal .alert-modal .try-again-btn:active {
      background-color: #3171ac; }
    #alert-modal-container .alert-modal .try-again-btn svg,
    #stop-session-modal .alert-modal .try-again-btn svg,
    #general-error-modal .alert-modal .try-again-btn svg,
    #incoming-call-modal .alert-modal .try-again-btn svg {
      color: #FFF;
      height: 30px;
      width: 30px; }

.blurred-backdrop-modal {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px; }
  @supports (backdrop-filter: blur(10px)) {
    .blurred-backdrop-modal {
      backdrop-filter: blur(10px); } }
  @supports not (backdrop-filter: blur(10px)) {
    .blurred-backdrop-modal {
      background: #fff !important; } }

#general-error-modal > span > div {
  z-index: 111112 !important; }
  #general-error-modal > span > div:first-child {
    z-index: 111113 !important; }

.incoming-call-modal {
  animation: animationFrames ease-in-out 4000ms;
  animation-iteration-count: 1; }

@keyframes animationFrames {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scaleX(1) scaleY(1); }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scaleX(1) scaleY(1); }
  80% {
    transform: translate(200%, -500%) scaleX(0.5) scaleY(0.5); }
  100% {
    opacity: 0;
    transform: translate(500%, -1000%) scaleX(0) scaleY(0); } }
